body{
    text-align:sans-serif, Arial ;
    font-family: sans-serif,Arial;
    margin:0;
    flex-wrap: wrap;
    
    background: linear-gradient(pink,aquamarine);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header{
display:flex;
align-items: center;
justify-items: space-between;

padding:18px 40px;
box-shadow: 0 2px 8px grey (0,0,0,0.03);
}
.logo img{
    height:60px;
}
.text{
    margin: 0 14px;
    text-decoration: none;
    font-weight:500;
    font-size:1rem;
    color:black
    
}
.text:target{
    color:aqua;
}

.nut{
    display:flex;
    align-items: center;
}
.login-btn{
  
    color:black;
    
    text-decoration:none;
    font-weight:600;
    margin: 0 14px;
    font-size:1rem;
    
}
.login-btn:hover{
    background-color: lightskyblue;
}
.login-btn:active{
    background-color:aqua;
}
.signup-btn{
    background:chartreuse;
    color:aliceblue;
    text-decoration: none;
    padding: 8px 22px;
    font-weight:600;
    font-size:1rem;
    
    transition:background 0.2s ;
    border-radius:22px;
}
.signup-btn:hover{
    background-color:greenyellow ;
}
.sigup-btn:active{
    background-color:blue;
}
.signup-btn.big{
    font-size:1.2rem;
    padding : 12px 36px;
}
.khainiem{
     background: linear-gradient(pink,aquamarine);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding:20px;
    font-size:20px;
}
h1{
    font-size:40px;
    text-align:center;
    color:blueviolet;
}
.ngatquang{
    text-align:center;
    color:blueviolet;
}
.flashcard{
    text-align:center;
    color:blueviolet;
}
.gioithieu{
    text-align:center;
    color:blueviolet;
}
.phobien{
    text-align: center;
    color:blueviolet;
}
.hero{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    padding:20px;
}
.chude{
    width:100px;
    height:100px;
    background-color:aliceblue;
    border-radius: 20px;
    box-shadow: 0 4px 8px grey(0,0,0,0.2);
    text-align:center;
    color:blue;
    font-size:16px;
}
.chude img{
    width:100px;
    height:100px;
    margin-bottom: 10px;
}
.trang1{
    margin-top: 40px;/*đẩy xuống dưới*/
    padding:20px;
     background: linear-gradient(pink,aquamarine);
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 0 4px 8px gray(0,0,0,0.2);
   
    margin-right: auto;
    margin-left: auto;

}
h2{
    padding-top:20px;
    margin-top:20px;
    color:blueviolet;
    text-align: center;
    font-size:34px;
}
.card{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
     perspective: 1000px;
            display: flex;
            margin: 20px;
             
}
.tuvung{
    
    width: 300px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}
.tuvung:hover{
    transform: rotateY(180deg);
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.word, .meaning {
    
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: Arial, sans-serif;
        }
.word{
    background: linear-gradient(to bottom,aqua, #56ab2f);
}
.meaning{
   background: linear-gradient(to bottom, aqua, #a8e063);
            transform: rotateY(180deg);
}
h3{
    font-size:16px;
    
}
.button-gr{
    margin-top: 15px;
}
.button-gr button{
    margin:5px;
    padding:8px 12px;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    font-size:16px;
}
.btn-remember{
    color:white;
    background-color:chartreuse;
}
.btn-remember:hover{
    
    background-color:yellowgreen;
}
.btn-remember:active{
    
    background-color:lightpink;
}
.btn-review{
    color:white;
    background-color: coral;
}
.btn-review:hover{
    
    background-color:lightsalmon;
}
.btn-review:active{
    
    background-color:darkblue;
}
